<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.246958918346-5nf82tde24ldovmuevk4ud7inpu7pfk7</string>
				</array>
			</dict>
		</array>
		<key>GIDClientID</key>
		<string>246958918346-5nf82tde24ldovmuevk4ud7inpu7pfk7.apps.googleusercontent.com</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>PaperWorth</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt; &lt;!DOCTYPE plist
			PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot;
			&quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt; &lt;plist
			version=&quot;1.0&quot;&gt; &lt;string&gt;NSCameraUsageDescription&lt;/string&gt;
			&lt;/plist&gt; </key>
		<string></string>
		<key>NSCameraUsageDescription</key>
		<string>We need camera access to scan receipts</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need photo library access to upload receipts</string>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>URL Types</key>
		<string>com.googleusercontent.apps.969666809666-uf0bblp6q39cbvc102orlfipglig2msa</string>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<true />
	</dict>
</plist>